@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Open+Sans:wght@300&family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* const Wrapper = styled.div`
.hero img {
  position: absolute;
  top: 0;
  right: 0;

` */

:root {
  --body-fonts: "Open Sans", sans-serif;
  --text-fonts: "Playfair Display", serif;
  --logo-fonts: "Cormorant Garamond", serif;
  --primary-color: #fff;
  --secondary-color: #000;
}

html {
  background: #fff;
  color: #000;
}

main {
  /* margin: auto; */
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.logo {
  color: #000;
  font-size: 2vw;
  padding: 1%;
  z-index: 5;
  letter-spacing: 2px;
  font-family: var(--logo-fonts);
}

.logo a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  z-index: 5;
  position: fixed;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.logo a:hover {
  color: #000;
  transition: linear all 0.3s;
}

.hero img {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 50%;
  z-index: 1;
  object-fit: cover;
  mix-blend-mode: lighten;
  animation: reveal 1s ease forwards;
  opacity: 0;
}

.hero video {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: reveal 1s ease 0.5s forwards;
  opacity: 0;
}
